.gallery__grid
  margin-bottom: 65px
  .grid-sizer,
  .grid__item
    margin-bottom: 5px
    width: calc(100%)
    +target(sm)
      width: calc(50% - 5px)
    +target(md)
      width: calc(25% - 5px)
    +target(lg)
      width: calc(25% - 5px)

  .grid__item
    float: left

  .grid__item img
    display: block
    max-width: 100%


.grid__item
  cursor: zoom-in
