$page-height: ms(10)
$goofy-radius: 43px 26px / 58px 13px
$diagonalSkew: 3deg
$inverseDiagonalSkew: -3deg

.barba-wrapper
  max-width: 100vw
  overflow: hidden

.hero-header
  top: ms(1) * -1
  position: relative
  align-items: center
  justify-content: center
  display: flex
  flex-direction: column
  width: 100%
  z-index: 1

.page-wrapper--header
  width: 100vw
  padding-top: ms(7) !important
  +target(md)
    padding-top: 0 !important
  // min-height: ms(5)

.page-wrapper
  position: relative
  background-color: $white
  padding: ms(1)
  &.page-wrapper--centered
    display: flex
    align-items: center
    justify-content: center
  &.page-wrapper--min-full
    min-height: 100vh
  &.page-wrapper--secondary
    // background: linear-gradient($secondary 10%, darken($secondary-pop, 25%))
    background-color: $secondary
    color: $white !important
    &:before
      background: $secondary-pop
      transform: skew(0deg, -$diagonalSkew)
  &.page-wrapper--tertiary
    background-color: $tertiary-pop
  &.page-wrapper--quaternary
  &.page-wrapper--plain
    &:before
      content: none

.page-wrapper--background
  background: url('/assets/cda-bg_temp.jpg')
  background-size: 300% 104%
  position: absolute
  left: 0
  bottom: -15px
  width: 100%
  height: 103vh
  +target(md)
    background-size: 100% 102%
  &:before
    content: ""
    position: absolute
    top: 0
    height: 20%
    width: 100%
    background-color: $white

.page-break--diagonal
  // height: 130px
  width: 100%
  min-width: 100vw
  background-color: darken($secondary, 25%)
  position: relative
  &:after
    content: ''
    width: 0
    height: 0
    top: 0
    right: 0
    border: 0 solid transparent
    border-left-width: 150vw
    border-right-width: 0px
    border-top: 120px solid $secondary
    background: transparent !important
    position: absolute
    z-index: 1
  &.page-break--diagonal__secondary
    background-color: $secondary
    &:after
      background: $secondary
    &:before
      background: $secondary
  &.page-break--diagonal__inverse
    &:after
      // transform: skew(0deg, $inverseDiagonalSkew)
      content: ''
      width: 0
      height: 0
      top: 0
      right: -20vw
      border: 0 solid transparent
      border-right-width: 180vw
      border-left-width: 0px
      border-top: 150px solid $secondary
      background: transparent !important
      position: absolute

    &.page-break--diagonal__secondary
      background-color: $secondary
      &:before
        background: $secondary

.heading-image--large
  max-height: ms(8)
  max-width: 90vw

.center-button-wrapper
  display: flex
  justify-content: flex-start
  align-items: flex-start

.resume-image, .image-shadow
  max-width: 100%
  box-shadow: $gen-shadow

.fixed-page-toggler
  position: fixed
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  width: 100vw
  right: 0
  bottom: 0
  z-index: 100
  background-color: $light-grey
  color: $dark-purple
  cursor: pointer
  transform: scale(1.5)
  box-shadow: $gen-shadow
  border-radius: $goofy-radius
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  transition: box-shadow 200ms ease-in-out
  &.page-toggler--open
    transition: box-shadow 0ms ease-in-out
    box-shadow: 0 0 0 transparent
  &:hover
    box-shadow: $gen-shadow-hover
    &.page-toggler--open
      box-shadow: 0 0 0 transparent
  .toggler-text
    position: absolute
    text-align: center
    transform: translateY(30px)
    opacity: 0

.toggler-text--sm
  font-size: 0.8em

.toggler-text-image
  height: ms(5)
  width: ms(7)
  transform: translateY(0px)

.page-menu
  display: none
  +target(md)
    list-style: none
    position: fixed
    top: 3%
    left: ms(2)
    z-index: 100

.page-header
  z-index: 15
  top: -(ms(-4))
  position: relative
  &.page-header--light
    color: $white

.page-body
  position: relative
  padding: ms(2) 0
  padding-top: ms(7)

.center-button-wrapper
  display: flex

.teaching-card
  border-radius: $border-radius
  height: ms(9)
  width: 100%
  color: $dark-purple
  display: flex
  align-items: center
  justify-content: center
  box-shadow: $gen-shadow
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
  background-color: $white
  overflow: hidden
  position: relative

  &:hover
    box-shadow: $gen-shadow-hover
