.page-body
  .row
    .col-md-4.col-xs-12
      .row
        .col-xs-12.right-text-xs
          h1.page-header Contact
        .col-xs-12
          .profile-image
    .col-md-8.col-xs-12.m-t-xs-4
      .form-box
        .row.m-b-xs-1
          .col-md-8.col-xs-12
            .input-group.input-group--sm
              input(name="fromName" type="text")
              label Name
              .bar
              .help-text.js-validation-fromName
        .row.m-b-xs-1
          .col-md-8.col-xs-12
            .input-group.input-group--sm
              input(name="fromEmail" type="email")
              label Email Address
              .bar
              .help-text.js-validation-fromEmail
        .row.m-b-xs-1
          .col-md-8.col-xs-12
            .input-group.input-group--sm
              textarea(name="text")
              label Your Message
              .bar
              .help-text.js-validation-text
        .row
          .col-md-8.col-xs-12
            .btn.btn-disabled.m-t-xs-1.js-send Send Message
