.page-header
  .page-header-background.page-header--contact
  .page-header-title
    h1 Contact
.page-body
  .container
    .row
      .col-xs-12
        h3.m-b-xs-1 Your message has been sent successfully!
        a(href="/")
          .btn Return Home
