.col-md-9.col-xs-12
  .form-box
    .row.m-b-xs-1
      .col-md-8.col-xs-12
        .input-group.input-group--sm
          input(name="fromName" type="text")
          label Name
          .bar
          .help-text.js-validation-fromName
    .row.m-b-xs-1
      .col-md-8.col-xs-12
        .input-group.input-group--sm
          input(name="fromEmail" type="email")
          label Email Address
          .bar
          .help-text.js-validation-fromEmail
    .row.m-b-xs-1
      .col-md-8.col-xs-12
        .input-group.input-group--sm
          textarea(name="text")
          label Your Message
          .bar
          .help-text.js-validation-text
    .row
      .col-md-8.col-xs-12
        .btn.btn-disabled.m-t-xs-1.js-send Send Message
