.js-pages-container
  ul.page-menu
    li.page-menu-item(data-menuanchor="top")
      a(href="#top") Top
    li.page-menu-item(data-menuanchor="teaching")
      a(href="#teaching") Teaching
    li.page-menu-item(data-menuanchor="things")
      a(href="#things") Contact
  .page-wrapper.section.container(href="top")
    .hero-header
      img.heading-image--large(src="/assets/logos/black/png/black-large-stacked.png")
      //- .center-button-wrapper.container
      //-   .btn-outlined #[a(href="#teaching") Teaching]
      //-   .btn-outlined.m-l-xs-1 #[a(href="#contact") Contact]
  .container.page-wrapper.page-wrapper--secondary.section.normal-scroll-element(href="teaching")
    include ../pages/teaching
  .container.page-wrapper.section(href="contact")
    include ../pages/contact
  //- .page-wrapper.section(href="contactform")
  //-   include ../pages/contact_form
      
