include ../components/menu
include ../components/router

doctype 
html(data-server-url=API_URL)
  include ../components/head
  body(class=gallery ? 'body--dark' : 'body--light')
    +router(page)
    +menu()
  include ../components/foot
    
  
  
  
  
