include ../components/menu
include ../components/router

doctype 
html(data-server-url=API_URL)
  include ../components/head
  body
    .container
      +router(page)
      +menu()
  include ../components/foot
    
  
  
  
  
