.page-body
  .row.m-b-xs-2.js-page-location__philosophy
    .col-md-4.col-xs-12.d-flex.d-flex--justify-end
      h1.page-header.page-header--light Philosophy
    .col-md-8.col-xs-12
      p I believe in an art education where students have the independence to explore individual interests, question, create through self-expression, problem-solve, discuss ideas, and take control of their learning. Through the exploration of rich concepts and boundless thinking, all are valued as real artists who create works that define their personal perspectives and lives outside the context of school. Within this space, successful art teachers facilitate the learning while promoting an equitable atmosphere through the representation of art from all over the world and spanning all parts of time. Art education should extend beyond the boundaries of the classroom so that students can grasp the significance of art and its ability to be both cross-curricular and innovative. It is inside this realm of learning that students and teachers alike explore uncharted territory and ask absurd questions that open our minds to possibility.
  .space-3
  .js-page-location__resume.row.js-page-location__resume
    .col-md-4.col-xs-12.d-flex.d-flex--justify-end
      h1.page-header.page-header--light Resume
    .col-md-8.col-xs-12.m-b-xs-4
      img.js-image.resume-image(src="/assets/resume.jpg")
    //- .col-xs-12.col-md-4.m-b-xs-1
    //-   a(class="clear-link" href="https://s3-us-west-2.amazonaws.com/claire-dean-art/pdfs/Teacher+Work+Sample-+Part+A+(PDF).pdf" target="_blank")
    //-     .teaching-card
    //-       h4 Teacher Work Sample
    //- .col-xs-12.col-md-4.m-b-xs-1
    //-   a(class="clear-link" href="https://s3-us-west-2.amazonaws.com/claire-dean-art/pdfs/Teacher+Work+Sample-+Part+A+(PDF).pdf" target="_blank")
    //-     .teaching-card
    //-       h4 Teacher Work Sample
    //- .col-xs-12.col-md-4.m-b-xs-1
    //-   a(class="clear-link" href="https://s3-us-west-2.amazonaws.com/claire-dean-art/pdfs/Teacher+Work+Sample-+Part+A+(PDF).pdf" target="_blank")
    //-     .teaching-card
    //-       h4 Teacher Work Sample
    //- 
  
  
