.page-header
  .page-header-background.page-header--teach
  .page-header-title
    h1 Teaching
.page-body
  .container
    h3 Teacher Work Sample
    .row
      .col-xs-12
        ul
          li
            a(class="clear-link" href="https://s3-us-west-2.amazonaws.com/claire-dean-art/pdfs/Teacher+Work+Sample-+Part+A+(PDF).pdf" target="_blank")
              h4 Part A
    
    
