h1.page-header Teaching
.page-body
  .row
    .col-xs-12.col-md-4.m-b-xs-1
      a(class="clear-link" href="https://s3-us-west-2.amazonaws.com/claire-dean-art/pdfs/Teacher+Work+Sample-+Part+A+(PDF).pdf" target="_blank")
        .teaching-card
          h4 Teacher Work Sample
    .col-xs-12.col-md-4.m-b-xs-1
      a(class="clear-link" href="https://s3-us-west-2.amazonaws.com/claire-dean-art/pdfs/Teacher+Work+Sample-+Part+A+(PDF).pdf" target="_blank")
        .teaching-card
          h4 Teacher Work Sample
    .col-xs-12.col-md-4.m-b-xs-1
      a(class="clear-link" href="https://s3-us-west-2.amazonaws.com/claire-dean-art/pdfs/Teacher+Work+Sample-+Part+A+(PDF).pdf" target="_blank")
        .teaching-card
          h4 Teacher Work Sample
          
  
  
