.page-body
  .row.m-b-xs-2
    .col-md-4.col-xs-12.d-flex.d-flex--justify-end
      h1.page-header.page-header--light Philosophy
    .col-md-8.col-xs-12
      .container
        p Lorem ipsum dolor amet vaporware semiotics ennui, forage readymade sriracha stumptown swag. Neutra swag hot chicken lo-fi, mumblecore etsy DIY pop-up lumbersexual seitan synth green juice shabby chic echo park. Helvetica gentrify disrupt lo-fi tumblr DIY chambray chia kale chips four dollar toast typewriter edison bulb yuccie. Unicorn +1 lyft twee, distillery viral pok pok pickled photo booth neutra. Messenger bag cardigan photo booth, tumeric readymade chillwave live-edge subway tile pour-over. Before they sold out pok pok blue bottle kitsch mlkshk kombucha quinoa brooklyn photo booth.
        p Offal intelligentsia seitan meditation. Tofu DIY health goth typewriter, cloud bread tumblr hella. Slow-carb actually farm-to-table typewriter direct trade retro green juice. Retro flexitarian occupy deep v swag fam street art air plant unicorn portland keffiyeh wayfarers polaroid. Migas williamsburg put a bird on it readymade church-key, brooklyn cornhole freegan shabby chic.
  .space-3
  .js-page-location__resume.row.m-b-xs-2
    .col-md-4.col-xs-12.d-flex.d-flex--justify-end
      h1.page-header.page-header--light Resume
    .col-md-8.col-xs-12
      .container
        img.resume-image(src="/assets/cd_resume.jpg")
    //- .col-xs-12.col-md-4.m-b-xs-1
    //-   a(class="clear-link" href="https://s3-us-west-2.amazonaws.com/claire-dean-art/pdfs/Teacher+Work+Sample-+Part+A+(PDF).pdf" target="_blank")
    //-     .teaching-card
    //-       h4 Teacher Work Sample
    //- .col-xs-12.col-md-4.m-b-xs-1
    //-   a(class="clear-link" href="https://s3-us-west-2.amazonaws.com/claire-dean-art/pdfs/Teacher+Work+Sample-+Part+A+(PDF).pdf" target="_blank")
    //-     .teaching-card
    //-       h4 Teacher Work Sample
    //- .col-xs-12.col-md-4.m-b-xs-1
    //-   a(class="clear-link" href="https://s3-us-west-2.amazonaws.com/claire-dean-art/pdfs/Teacher+Work+Sample-+Part+A+(PDF).pdf" target="_blank")
    //-     .teaching-card
    //-       h4 Teacher Work Sample
    //- 
  
  
