@import icons/fontello
@import icons/fontello-codes
@import icons/fontello-embedded
@import icons/fontello-ie7-codes
@import icons/fontello-ie7
@import icons/animation

@import url('https://fonts.googleapis.com/css?family=Titillium+Web')
// @import url('https://fonts.googleapis..com/css?family=Neucha')
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker')
@import modularscale
// Mixin for responding to different sizes
$targets: xs 10, sm 12, md 14, lg 16, xl 18

$text-color: #080507
$text-white: #ece8ea
$white: #fefefa
$light-grey: #ece8ea
$primary: #2E3138
$primary-pop: #2E3138
$secondary: #9068BE
$secondary-pop: #9068BE
$tertiary: rgb(220, 51, 77)
$tertiary-pop: rgb(220, 51, 77)
$quaternary: #6ED3CF
$quaternary-pop: #6ED3CF
$quinary: #F3F3F3
$quinary-pop: #F3F3F3

$border-color: darken($white, 20%)

$dark-purple: #2A1A25
$purple: #4A3A5C
$medium-purple: #7B1FA2
$light-purple: #C3BAD7
$accent-pink: #c16e86
$natural-green: #386147
$light-green: #578e53
$succulent: #679894
$rock-tan: #be8860

$swift-out: cubic-bezier(0.4, 0.0, 0.2, 1)
$ease-out: cubic-bezier(0.0, 0.0, 0.2, 1)
$ease-in: cubic-bezier(0.4, 0.0, 1, 1)
$sharp: cubic-bezier(0.4, 0.0, 0.6, 1)
$smooth: cubic-bezier(.25,.8,.25,1)

$border-radius: 43px 26px / 58px 13px

$menu-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
$gen-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
$gen-shadow-hover: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

// Modular Scale
$ms-base: 20px, 16px !default
$ms-ratio: 1.31

$container-width: ms(17) !default
$container-side-padding: ms(1)
$container-top-btm-padding: ms(3)

// Spacing
$base-margin: ms(1)
$border-width: ms(-10)

// Inputs
$input-height: ms(1) + (2 * ms(-3)) + ms(-7)

// Typography
$font-family: Calibre, sans-serif !default

$border-radius: ms(-7)

@mixin target($target)
  @each $candidate in $targets
    @if $target == nth($candidate, 1)
      @media screen and (min-width: #{ms(nth($candidate, 2))})
        @content

@mixin breakpoint($point)
  @if $point == desktop
    @media (min-width: 70em)
      @content
  @else if $point == laptop
    @media (min-width: 70em)
      @content


body
  top: 0
  bottom: 0
  right: 0
  left: 0
  height: 100vh
  width: 100vw
  // background-color: $dark-purple
  // color: $white
  // &.body--dark
  //   background-color: $dark-purple
  //   color: $white
  // &.body--light
  background-color: $light-grey
  color: $dark-purple
*
  font-family: 'Titillium Web', sans-serif

@import standard/base/grid
@import standard/base/reset
@import standard/base/spacing
@import standard/base/typography
@import standard/components/buttons
@import components/navigation
@import components/gallery
@import components/lightbox
@import components/forms
@import components/page


// Move outta here
.clear-link
  text-decoration: none
  transition: all 100ms ease-in-out
  color: $white
