include ./navigation

mixin menu()
  .main-content__navigation.container.container--mobile.js-navigation-container
    .navigation-icon.js-navigation-icon
      .navigation-icon__bar
      .navigation-icon__bar
      .navigation-icon__bar
    .mobile-menu.js-menu-container
      .container.container--mobile
        +navigation()
    .navigation__logo
      img(src="/assets/logos/black/png/black_large_flat.png")
    +navigation()
      
        
      
      
          
        
        
