mixin router(page)
  case page
    when 'home': include ../pages/home
    when 'gallery': include ../pages/gallery
    when 'teaching': include ../pages/teaching
    when 'about': include ../pages/about
    when 'contact': include ../pages/contact
    when 'contact-success': include ../pages/contact-success
    when 'lessons': include ../pages/lessons
    when 'tws': include ../pages/tws/layout
  
